* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0052d0 !important;
}
/* Start Custom Fonts */ 
@font-face {
  font-family: IBM;
  src: url('/public/fonts/IBM/IBMPlexSans-Regular.ttf');
  font-weight: 500;
}
@font-face {
  font-family: IBM;
  src: url('/public/fonts/IBM/IBMPlexSans-Light.ttf');
  font-weight: 400;
}
@font-face {
  font-family: IBM;
  src: url('/public/fonts/IBM/IBMPlexSans-Medium.ttf');
  font-weight: 600;
}
/* End Custom Fonts */ 